<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/auth.css">
    </head>
    <body>
        <div id="inputs">
            <label for='username'>Full Name</label>
            <input type="text" id="username" placeholder="Jeff Bezos">
            <label for='email'>Email</label>
            <input type="email" id="email" placeholder="jbezos@blueorigin.com">
            <label for="password">Password</label>
            <input type="password" id="password">
            <button id="create-button">Create User</button>
        </div>
        <div id="btns">
            <button id="login-button">Login</button>
            <button id="forgot-password">Forgot Password</button>
            <button id="logout-button">Logout</button>
        </div>
        <p id="msg"></p>
        <script src="js/auth.js"></script>
    </body>
</html>