<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/blue.css">
        <%- include('header'); -%>
    </head>
    <body>
        <div id='main-div'>
            <button class="main-button" id="veex">VEEx</button>
            <button class="main-button" id="geex">GEEx</button>
            <button class="main-button" id="xeex">XEEx</button>
            <button class="main-button" id="alabama">4670</button>
        </div>
        <!-- <div id="footer-div">
            <button class="footer-button" id="blue-gpt">BlueGPT</button>
            <button class="footer-button" id="bdms">BDMS</button>
            <button class="footer-button" id="imperio">Imperio</button>
            <button class="footer-button" id="neuro">Neuro</button>
            <button class="footer-button" id="jules">Jules</button>
            <button class="footer-button" id="jules-page">EWOs</button>
            <button class="footer-button" id="airtable">Airtable</button>
            <button class="footer-button" id="test">Test</button>
        </div> -->
        <%- include('footer'); -%>
        <script src="js/blue.js"></script>
    </body>
</html>