<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/cameras.css">
        <%- include('header'); -%>
    </head>
    <body>
        <%- include('footer'); -%>
        <script src="js/cameras.js"></script>
    </body>
</html>


