<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/consoles.css">
        <%- include('header'); -%>
    </head>
    <body>
        <div id="links">
            <ul>
                <li><a href='files/batch/VEEx_console_released.bat'>VEEx Console</a></li>
                <li><a href='files/batch/GEEx_console_released.bat'>GEEx Console</a></li>
                <li><a href='files/batch/XEEx_console_released.bat'>XEEx Console</a></li>
            </ul>
            <h3>See <a id='wiki-link' href='https://wiki.blueorigin.com/display/TF/UG4+-+How-To+Install+Console'>the wiki</a> for more info</h3>
        </div>
        <p>CONSOLES</p>
        <%- include('footer'); -%>
        <script src="js/consoles.js"></script>
    </body>
</html>