><!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/footer.css">
    </head>
    <body>
        <div id="footer-div">
            <button class="footer-button" id="airtable">Airtable</button>
            <button class="footer-button" id="bdms">BDMS</button>
            <button class="footer-button" id="blue-gpt">BlueGPT</button>
            <button class="footer-button" id="cameras-page">Cameras</button>
            <button class="footer-button" id="consoles-page">Consoles</button>
            <button class="footer-button" id="jules-page">EWOs</button>
            <button class="footer-button" id="imperio">Imperio</button>
            <button class="footer-button" id="jules">Jules</button>
            <button class="footer-button" id="library-page">Library</button>
            <button class="footer-button" id="neuro">Neuro</button>
            <button class="footer-button" id="wfm">WFM</button>
            <button class="footer-button" id="test">Test</button>
        </div>
        <script src='js/footer.js'></script>
    </body>
</html>