<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/imperio.css">
        <%- include('header'); -%>
    </head>
    <body>
        <div id='main-div'>
            <button class="main-button" id="veex-imp">VEEx</button>
            <button class="main-button" id="geex-imp">GEEx</button>
            <button class="main-button" id="xeex-imp">XEEx</button>
            <button class="main-button" id="alabama-imp">4670</button>
        </div>
        <%- include('footer'); -%>
        <script src="js/imperio.js"></script>
    </body>
</html>